<div id='Homepage-post'>
    {{#each posts as |post|}}
    <a id='single-post' href='/post/{{post.id}}'>
        <div id='post-header'>
            <p id='post-title'>{{post.title}}</p>
            <p id='post-date'>Submitted by:
                {{post.user.username}}
                <br />
                on
                {{format_date post.created_at}}
            </p>
            </div>
            <div id='chat'>
            {{commentLengths post.comments}}
            </div>
            <p id="post-body">
                {{post.description}}
            </p>
            </a>
            {{/each}}
            </div>
        